# Database (PostgreSQL Connection URI - e.g. Neon, Supabase, Render, Railway, AWS RDS)
DATABASE_URL="postgresql://username:password@localhost:5432/olympus_db?sslmode=prefer"

# Security & Authentication
JWT_SECRET="replace_with_a_long_random_secret_key_minimum_32_characters"

# Server Port
PORT=5050

# Node Environment ('production' or 'development')
NODE_ENV="production"
